<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>Angular Datepickable</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css">
    <link rel="stylesheet" href="../styles/styles.css">
   
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment-range/1.0.7/moment-range.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
    <script src="/dist/angular-date-pickable.js"></script>

    <script src="example.js"></script>
  </head>

  <body ng-app="ExampleApp" ng-controller="exampleCtrl">
    <h2>Date Pickable</h2>
    <jb-date-pickable start-date="startDate" end-date="endDate" selected-date-range="range"
      selected-date="selectedDate"
      style="display: -webkit-flex; display: flex; -webkit-justify-content: space-around; justify-content: space-around;">
    </jb-date-pickable>
    <div>start: {{ startDate | date: 'MMM dd, yyyy' }}</div>
    <div>end: {{ endDate | date: 'MMM dd, yyyy' }}</div>
    <div>range: {{ range | json }}</div>
    <div>selected: {{ selectedDate | date: 'MMM dd, yyyy'}}</div>

    <button ng-click="startDate = momentDate('2015-04-01')">Start = April 1</button>
    <button ng-click="endDate = momentDate('2015-04-30')">End = April 30</button>

    <button ng-click="startDate = momentDate('2015-05-01'); endDate = momentDate('2015-05-31')">May</button>
  </body>
</html>
