table.pickable__calendar {
  border-collapse: collapse;
  border: 1px solid gray;
}

table.pickable__calendar td, table.pickable__calendar th {
  padding: 3px;
  width:30px;
  height: 30px;
  border: 1px solid #cccccc;
  vertical-align: middle;
  text-align: center;
}

.pickable__day--in-range {
  font-weight: bold;
  background-color: #ccffcc;
}

.pickable__day--selected {
  font-weight: bold;
  box-shadow: inset 0px 0px 0px 2px black;
}

.pickable__day--not-same {
  color: #ccc;
}
